.calBody{
  text-align:center;
}


.description{
  text-align: center;
  margin: auto;
  display : grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.7fr;
  height: 10vh;
  font-size : 5vw;
}


#OPDetailsContainer{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

#OPDetailsContainer input{
  text-align: center;
}

#OPDetailsContainer > input{
  width: 60%;
  margin:auto;
}

#OPDetailsContainer div{
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 1fr;
}

.adjustInputContainer{
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left : 10%;
  display : grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5vw 5vh;
}

.adjustInputContainer > input {
  width : 80%;
}

#fireDataDisplay{
  margin:auto;
  margin-top : 10vh;
  width:80%;
  display :grid;
  grid-template-columns: 2fr 3fr 2fr 3fr;
  grid-row-gap: 5vh;
}
#fireDataDisplay input{
  text-align:center;
}

@media screen and (max-width: 992px) {
  #fireDataDisplay{
	grid-template-columns: 2fr 3fr;
  }
  #fireDataDisplay input{
	width: 80%;
  }
}

@media (max-width:480px) {
  #OTAZInput > input{
	width: 80% !important;
	margin: 10% !important;
  }
  #OPDetailsContainer {
	grid-template-columns: 1fr 5fr;
	margin-top : 5vh;
	grid-row-gap: 5vh;
  }
  #OPDetailsContainer > input{
	width: 80%;
  }
  #OPDetailsContainer > h3:nth-child(1){
	grid-column: 1/2;
	grid-row:1/2;
  }
  #OPDetailsContainer > h3:nth-child(2){
	grid-column:1/2;
	grid-row:2/3;
  }
}
