* {
  box-sizing: border-box;
}
*:focus {
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
  /*border-radius: 0px 0px 10px 10px;*/
}

::-webkit-scrollbar-thumb {
  background: #161616;
  /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb:hover {
  background: #040404;
}

hr{
  margin-top : 3vh;
  margin-bottom: 3vh;
  color: white;
  width: 90%;
}
body{
  color : white;
  background-color:#191919; 
}

button{
  color:white;
  font-size: 3vmax;
  border:none;
  border-radius: 10px;
}

input, select{
  font-size: 2vw;
  background-color: transparent;
  border-width: 0 0 2px 0;
  border-color : #00FF66;
  color: white;
}

input[type=button],input[type=submit] {
  font-size:5vmax;
  background-color:#00cc52;
  border-radius:10px;
  border-width:0 0 0 0;
  box-shadow:#00cc52 0 0 20px 0;
}

input[type=button]:hover,input[type=submit]:hover{
  box-shadow:#00cc52 0 0 30px 0;
  animation: opacity 1s infinite;
}

input[type=checkbox]{
  appearance: none;
  width:40vw;
  height:10vh;
}

 option{
  background-color: #191919;
}


h1, h2, h3{
  margin: 0 0 0 0;
  display: inline-block;
}

h1{
  font-size :3rem;
}
h2{
  font-size : 2rem;
}
h3{
  font-size : 1rem;
}

body {
  margin: 0;
  padding: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.pmbutton{
  width:5vmax;
  height:5vmax;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  font-size:3vmax;
  box-shadow: 5px 5px 10px 2px black;
}
.increase{
  background-color:#00FF66;
  right:20vw;
  bottom: 5vmax;
}
.decrease{
  background-color: #FF6961;
  left: 20vw;
  bottom:5vmax;
}

.action{
  display: inherit;
  animation-duration: 1.5s;
  animation-name: slideup_fixed;
}

.disabled{
  display: none;
  opacity: 0;
}

.toggleBody{
  width:80%;
  margin-left:10%;
}

.toggleboxTrue{
  background-color:#00cc52;
  box-shadow: #00cc52 0 0 20px 0;
}

.toggleboxFalse{
  background-color: #FF6961;
  box-shadow: color 0 0 20px 0;
}

.toggle{
  background-color: gray;
  border-radius:10px;
  height: 10vh;
}

.toggle:hover{
  animation: opacity 1s infinite;
}

.inputBody{
  margin-top : 10vh;
}

.Name{
  text-align: center;
  width: 100%;
  grid-column : 1 / 4;
  grid-row: 1/ 3;
}

.posInputContainer{
  text-align:center;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.posInputContainer > input{
  text-align: center;
  width : 80%;
  margin: auto;
}

.posInputContainer > input[type="button"],input[type="submit"]{
  grid-column: 1 / 4;
}

.numInputGrid{
  display:grid;
  grid-template-columns: 5fr 2fr 1fr;
  margin-left:10%;
  width:80%
}

.numInputGrid > h2{
  text-align: left;
}

.numInputGrid > input{
  width: 100%;
  font-size: 2rem;
  text-align:center;
}
@media (max-width:480px) {
  .increase{
	right:10vw;
  }
  .decrease{
	left:10vw;
  }
  #focusName{
	width:40vw !important;
	left:30vw !important;
  }
  .posInputContainer{
	grid-template-columns: 1fr 5fr;
	margin-top : 5vh;
	grid-row-gap: 5vh;
  }
  .inputBody input{
	font-size: 4vh;
	text-align: left;
  }
  .posInputContainer > h3:nth-child(1){
	grid-column: 1 / 2;
	grid-row : 1 / 2;
  }
  .posInputContainer > h3:nth-child(2){
	grid-column: 1 / 2;
	grid-row : 2 / 3;
  }
  .posInputContainer > h3:nth-child(3){
	grid-column: 1 / 2;
	grid-row : 3 / 4;
  }
  .posInputContainer > input[type=submit], input[type=button]{
	grid-column: 1 / 3 !important;
	grid-row : 4 / 5;
  }
}
@media screen and (max-width: 992px) {
  input{
	font-size : 3.5vw;
  }
}
@keyframes slideup_fixed{
  0%{
	opacity: 0;
	bottom:-20vh;
  }
  70%{
	bottom:-3vh;
  }
  100%{
	opacity: 100%;
	bottom:0;
  }
}

@keyframes slidedown_show{
  0%{
	opacity: 0;
	margin-top: -9vh;
  }
  100%{
	opacity:1;
	margin-top : 0;
  }
}

@keyframes slideup_unshow{
  0%{
	opacity: 1;
	margin-top: 0vh;
  }
  100%{
	opacity:0;
	margin-top: -9vh;
  }
}


@keyframes opacity{
  0%{
	opacity: 100%;
  }
  50%{
	opacity: 50%;
  }
  100%{
	opacity: 100%;
  }
}

@keyframes opacity-shadow{
  0%{
	opacity: 0;
  }
  50%{
	opacity:1;
  }
  99%{
	opacity:0;
	height: 100%;
  }
  100%{
	height:0%;
  }
}


